<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("./head") %> 
</head>

<body>
    <%- include("./header") %> 
    <div class="container">
        <h3>Create account:</h3>
        <form action="/register" method="post">
            <p>
                <span>First Name:</span>
                <input type="text" name="firstName" required="true">
            </p>
            <p>
                <span>Last Name:</span>
                <input type="text" name="lastName" required="true">
            </p>
            <p>
                <span>Email:</span>
                <input type="email" name="email" required="true">
            </p>
            <p>               
                <span>Password:</span>
                <input type="password" name="password" required="true" minlength="6" maxlength="16">
            </p>
            <input type="submit">
        </form>
        <% if(error) { %>
            <h1> <%= error %>  </h1>
        <% } %>   
    </div>
    <%- include("./footer") %> 
</body>

</html>